@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --colorMin: white;
    --colorMid: white;
    --colorMax: white;
    
    --casi-negro: #313131;
    --gris-osc: #5e5e5e;

    --fnt-title: 'Major Mono Display', monospace;
    --fnt-cont-old: 'Space Mono', monospace;
    --fnt-cont: 'Inconsolata', monospace;

    --txt-xl: 74px;
    --txt-l: 30px;
    --txt-m: 24px;
    --txt-s: 14px;

    --deg-color: var(--colorMin) 0%, var(--colorMid) 50%, var(--colorMax) 100%;
    --sombra: 0px 3px 10px 0px black;
}

::-webkit-scrollbar {
    width: 0px;
}

/* *::selection {
    background: white;
    color: var(--colorMid); 
} */
*::selection {
    background: var(--colorMid);
}

img, svg,
h1, h2, h3,
.btn,
.stats {
    user-select: none;
}

.faq-padre:hover {
    cursor: pointer;
}
.faq-despegable {
    overflow: hidden;
    max-height: 0;
    transition-duration: 0.5s;
}
.despeglado { 
    max-height: 100%
}

.txt-left {
    text-align: start;
}
.txt-right {
    text-align: right;
}
.bold {
    font-weight: bold;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: black;
    
    text-align: center;
    font-family: var(--fnt-cont) !important;
    font-size: var(--txt-s);
}
h1 {
    padding: 10px 25px 15px 25px;

    font-size: var(--txt-xl);
    color: white;
    user-select: none;
    background: black;
}
h1 span {
    color: var(--colorMid);
}
h1, h2, h3 {
    font-family: var(--fnt-title);
    text-transform: lowercase;
    color: white;
    user-select: none;
}
h1 {
    font-size: var(--txt-xl);
}
h3, h2 {
    font-size: var(--txt-m);
}

under {
    position: relative;
}
under::after {
    content: '';
    width: 100%;
    height: 10px;
    background: var(--colorMid);

    position: absolute;
    bottom: 0;
    left: 0;
}

/* COMPONENTES */
/* Pop Up */
.MuiDialog-paper {
    font-family: var(--fnt-cont) !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}
.MuiDialog-paper .MuiDialogTitle-root {
    background: var(--casi-negro) !important;
}
.MuiDialog-paper .MuiButton-text{
    background: var(--colorMid) !important;
}
.MuiDialog-paper .MuiButton-text:hover {
    background: var(--colorMax) !important;
}

/* Botones */
.MuiButton-root {
    width: 350px;
    padding: 0 !important;
    background-color: var(--colorMid) !important;
    /* background: linear-gradient(90deg, var(--colorMin) 0%, var(--colorMid) 30%, var(--colorMid) 70%, var(--colorMax) 100%); */
    
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
   
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    font-family: var(--fnt-cont) !important;
    text-transform: lowercase !important;
    font-weight: 600 !important;
    font-size: var(--txt-m) !important;
    letter-spacing: 5px !important;
    
    transition:all .5s !important;
    -webkit-transition:all .5s !important;
    -moz-transition:all .5s !important;
    -ms-transition:all .5s !important;
    -o-transition:all .5s !important;
}
.MuiButton-root:hover {
    letter-spacing: 8px !important;
    box-shadow: none !important;
    /* background: linear-gradient(90deg, var(--colorMin) 0%, var(--colorMid) 30%, var(--colorMid) 70%, var(--colorMax) 100%) !important; */
}
.btn {
    padding: 10px 40px;
    cursor: pointer;

    text-decoration: none !important;
    user-select: none !important;

    font-family: var(--fnt-title) !important;
    font-size: var(--txt-s) !important;
    text-transform: lowercase !important;
    font-weight: 600 !important;
}
.btn:hover,
.MuiButton-root:hover {
    background:  var(--colorMid);
    box-shadow: 0 3px 6px 1px black;
    
    color: white;
}
/* Sub-menu */
.btn .sub-menu {
    position: absolute;
    bottom: 0%;
    left: 0;
    z-index: 0;

    width: 100%;
    background-color: var(--colorMid);
    
    display: none;
    flex-flow: row;
    justify-content: space-around;
    
    transform: translateY(100px);
    transition: all .5s;
    user-select: none;
}
.btn.on .sub-menu {
    display: flex;
    transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -o-transform: translateY(-74px);
}
.sub-menu .btn {
    padding: 20px;
    color: black;
}
.sub-menu .btn:hover {
    box-shadow: none;
}
.sub-menu::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--casi-negro);
    background: linear-gradient(90deg, var(--casi-negro) 0%, white 33%, white 66%, var(--casi-negro) 100%);
    
    position: absolute;
    top: 0;
    border-radius: 100%;

    display: none;
}

/* MINT */
.btn.mint {
    width: 250px;
    padding: 15px 40px;
    margin-bottom: 15px;
    background-color: var(--colorMin);
    outline: 3px solid white;
    font-size: var(--txt-l) !important;
    font-weight: 900 !important;
    font-family: var(--fnt-cont) !important;
    text-transform: lowercase;
    letter-spacing: 10px;
    color: white;
    box-shadow: none !important;
    mix-blend-mode: difference;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    animation: rainbow 10s infinite;
    -webkit-animation: rainbow 10s infinite;
}
.btn.mint:hover {
    letter-spacing: 20px;
}
@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
    }
    /* 100% {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
    } */
}

/* Animacion fondo */
.fondo-anim,
.MuiButton-containedPrimary {
    animation: fondo_colors 10s infinite;
    -webkit-animation: fondo_colors 10s infinite;

    transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -moz-transition: background-color 2s;
    -ms-transition: background-color 2s;
    -o-transition: background-color 2s;
}
@keyframes fondo_colors {
    0% {
        background-color: var(--colorMin) ;
       /* background-color: pink; */
    }
    50% {
        background-color: var(--colorMid) ;
        /* background-color: purple; */
    }
    100% {
        background-color: var(--colorMax) ;
        /* background-color: blueviolet; */
    }
}

/* HOME */
/* Falso scroll */
#falso-scroll {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    
    width: 100%;
    height: 2px;
    background-color: var(--casi-negro)
}
#progreso-scroll {
    background-color: var(--casi-negro);
    height: 100%;
    
    float: right;
}
#fondo-scroll {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--deg-color));
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Menu */
header {
    --alto: 44px;
    width: 100vw;
    height: var(--alto);
    background-color: var(--casi-negro);
    box-shadow: var(--sombra);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
}
header::after,
header::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--gris-osc);
    background: linear-gradient(90deg, var(--casi-negro) 0%, var(--gris-osc) 33%, var(--gris-osc) 66%, var(--casi-negro) 100%);
    
    position: absolute;
    top: 0;
    border-radius: 100%;
}
header::after {
    display: none;
    top: 69px;
}
header.off {
    transform: translateY(calc(var(--alto) * -1));
    -webkit-transform: translateY(calc(var(--alto) * -1));
    -moz-transform: translateY(calc(var(--alto) * -1));
    -ms-transform: translateY(calc(var(--alto) * -1));
    -o-transform: translateY(calc(var(--alto) * -1));
}

header > .container {
    max-width: 1000px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header svg {
    height: 30px;
    cursor: pointer;
    filter: drop-shadow(2px 4px 4px black);
}
header a path {
    fill: white;
}


#hover-main-menu {
    --alto: 55px;
    width: 100%;
    height: var(--alto);
    background: rgba(0,0,0,1);

    position: absolute;
    left: 0;
    bottom:  calc(var(--alto) * -1);

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}
#hover-main-menu::before,
#hover-main-menu::after {
    content: '¥';
    font-size: 32px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
header.off #hover-main-menu::before {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
header.off #hover-main-menu::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
#hover-main-menu .stats {
    font-size: var(--txt-s);
}

/* MAIN */
.main {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

/* Fractal */
#fractal-container {
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}
#fractal-container canvas {
    height: 100vh !important;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

/* Secciones */
section {
    min-height: 100vh;
    max-width: 1400px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px 20px;
    margin: 0 auto;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    position: relative;
}
section::before,
section::after {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background: white;
    /* background: linear-gradient(180deg, var(--casi-negro) 0%, var(--gris-osc) 33%, var(--gris-osc) 66%, var(--casi-negro) 100%); */
    position: absolute;
    top: 0;
    left: -2px;
    border-radius: 100%;
    opacity: .7;
}
section::after {
    right: -2px;
    left: auto;
}
section:first-child {
    min-height: 100vh;
    background: linear-gradient(-180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 75%, rgba(0,0,0,.6) 100%);
}
section:first-child::before,
section:first-child::after {
    /* content: none; */
    height: 20%;
    bottom: 0;
    top: auto;

    background: linear-gradient(180deg, transparent 0%, white 45%, white 100%);
}
section:last-of-type {
    padding-bottom: 100px;
}

/* HERO */
.stats {
    font-family: var(--fnt-title);
    font-size: var(--txt-m);
    font-weight: 700;
    
    margin: 0;
    padding: 0 50px;
    mix-blend-mode: difference;
}


/* GALERIA */
#galery h2 {
    font-size: var(--txt-l);
    max-width: 600px;
}
#galery p {
    font-size: var(--txt-m);
}
#galery img {
    border: 2px solid var(--colorMid);

    /* Temporal ??? */
    mix-blend-mode: difference;
    animation: rainbow 10s infinite;
    -webkit-animation: rainbow 10s infinite;
}

/* FAQ */
#faq h2 {
    font-size: var(--txt-xl);
    max-width: 600px;
}
.interior {
    max-width: 1000px;
    width: 90%;
    padding: 20px;

    text-align: left;
    font-size: var(--txt-m);
}
.padre-desplegable {
    user-select: none;
}
.padre-desplegable .Q {
    cursor: pointer;
    background-color: var(--colorMid);
    padding: 5px 10px;
    position: relative;
    margin-bottom: 0;
    text-shadow: 1px 1px 6px black;
    mix-blend-mode: difference;
}
.padre-desplegable .Q::before,
.padre-desplegable .Q::after {
    content: '';
    background: white;
    
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
   
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}
.padre-desplegable .Q::before {
    width: 15px;
    height: 4px;
    right: 10px;
}
.padre-desplegable .Q::after {
    width: 4px;
    height: 15px;
}
.padre-desplegable.on .Q::after {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}


.padre-desplegable .A {
    max-height: 0px;
    overflow: hidden;
    margin: 0 0 20px 0;
    padding: 0 10px;
    transition: max-height .5s;
    -webkit-transition: max-height .5s;
    -moz-transition: max-height .5s;
    -ms-transition: max-height .5s;
    -o-transition: max-height .5s;
}
.padre-desplegable.on .A {
    max-height: 500px;
}
.padre-desplegable .A span {
    padding: 10px 0px 10px 30px;
    display: block;
    position: relative;
}
.padre-desplegable .A span::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: var(--colorMid);
    mix-blend-mode: difference;

    position: absolute;
    left: 0;
    top: 0;
}

/* ROADMAP */
#roadmap {
    position: relative;
    padding-top: 100px;
}
#roadmap h2 {
    position: relative;
    z-index: 10;
    font-size: var(--txt-xl);
    margin: 0 auto 100px;
}

.roadmap-prog {
    height: 95%;
    width: 10px;
    background: linear-gradient(180deg, var(--deg-color));
    overflow: hidden;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 80px;
}
.roadmap-prog .off {
    width: 100%;
    height: 69%;
    background: black;
    /* opacity: 0.7; */

    position: absolute;
    bottom: 0;
}


/* Grid alternado */
.alt-grid {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 50px;
}
.alt-grid h3 {
    font-size: var(--txt-l);
}
.grid-item {
    width: 50%;
    margin: 20px 0;
}
.alt-grid .grid-item p {
    padding-left: 35px;
    position: relative;
}
.alt-grid .grid-item p::before {
    content: 'α';
    color: var(--color);
    
    position: absolute;
    left: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.grid-item:first-child {
    --color: var(--colorMin);
}
.grid-item:first-child *::selection {
    background-color: var(--color);
}
.grid-item:first-child *:is(h3, path) {
    color: var(--color);
    fill: var(--color);
}

.grid-item {
    --color: var(--colorMid);
}
.grid-item *::selection {
    background-color: var(--color);
}
.grid-item *:is(h3, path) {
    color: var(--color);
    fill: var(--color);
}

.grid-item:last-child {
    --color: var(--colorMax);
}
.grid-item:last-child *::selection {
    background-color: var(--color);
}
.grid-item:last-child *:is(h3, path) {
    color: var(--color);
    fill: var(--color);
}
.alt-grid .card {
    font-size: var(--txt-m);
}

/* Tarjeta */
.card {
    padding: 20px 50px;
    background-color: var(--casi-negro);
    box-shadow: var(--sombra);
    position: relative;
    z-index: 10;
    
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.card.off {
    filter: blur(1px);
    opacity: .75;
    user-select: none;
    mix-blend-mode: difference;
}
.card > img {
    margin: 10px;
}

/* Grid normal */
.grid {
    display: flex;
    flex-flow: column;
    max-width: 75%;
}
.grid .grid-item {
    width: 100%;
    padding: 50px 0;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
}
.grid .grid-item > div {
    width: 40%;
}

/* FOOTER */
footer {
    width: 100%;
    padding: 10px;
    background-color: var(--casi-negro);
    box-shadow: var(--sombra);
    
    position: relative;
    z-index: 10;
}
footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    
    background-color: var(--casi-negro);
    background: linear-gradient(90deg, var(--casi-negro) 0%, var(--gris-osc) 33%, var(--gris-osc) 66%, var(--casi-negro) 100%);
    
    position: absolute;
    top: 0;
    border-radius: 100%;

    display: none;
}
footer a {
    color: white;
}
footer > div {
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* MOVIL */
@media (max-width: 991px) {
    section {
        max-width: calc(100vw - 36px);
    }
    
    /* Grid alternado */
    .alt-grid {
        margin-left: 50px;
        padding: 0;
    }
    .alt-grid .grid-item {
        justify-content: space-between;
    }
    .grid-item {
        width: 90%;
        margin: 20px auto !important;
        padding: 20px;
    }
    .grid-item:nth-child(even).card {
        flex-flow: row-reverse;
        text-align: left;
    }

    /* Grdi normal */
    .grid {
        max-width: 100%;
    }
    .grid .grid-item {
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .grid .grid-item > div {
        width: 90%;
        margin: 0 auto;
    }
    .grid .grid-item:nth-child(even) {
        flex-flow: column-reverse;
    }

    /* FAQ */
    .padre-desplegable .A {
        font-size: var(--txt-s);
    }
    
    .roadmap-prog {
        width: 20px;
        height: 80%;

        left: 50px;
        margin: 0 auto 0 0;
        margin-bottom: 100px
    }

    /* Footer */
    footer > div {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    .roadmap-prog {
        left: 30px;
    }
}

/* TMP */
paleta {
    display: flex;
    flex-flow: row;

    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
}
paleta > div {
    width: 20px;
    height: 20px;
    margin: 10px;
}
paleta > div:first-child {
    background: var(--colorMin);
}
paleta > div {
    background: var(--colorMid);
}
paleta > div:last-child {
    background: var(--colorMax);
}